<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>
</head>
<body>
    
    <h2 style="font-family: 'Libre Baskerville', serif;"><u>Education</u></h2>
    <div>
        <h3>Accurate Institute of Management andTechnology, Greater Noida</h3>
        <ul>
            <li>B.Tech, Computer Science & Engineering </li>
            <li>Percentage: 77.68% (till sem. 6)</li>
        </ul>

    </div>
    
    
</body>
</html>