<div>
    <h2 class="heading"><u>Carrier Objective</u></h2>
    <p style="padding: 13px; " class="font" >
        Organized and dependable candidate successful
at managing multiple priorities with a positive
attitude. Willingness to take on more duties in
order to attain team goals. To seek and keep a
full-time job that provides professional
challenges while employing interpersonal skills, great time management, and problem-solving
abilities. Complex problem-solver with an
analytical and goal-oriented approach. Determined to achieve challenging
development goals on time while creating
flawless code.</p>

</div>