h2{
    margin: 20px;
    font-size: 100px;
}
div{
    margin: 20px;
    padding: 16px;
}
li{
    padding-left: 50px;
    float: left;
    width: 1000px;
    font-size: 60px;
   background-color: rgb(163, 190, 212);
}
ul{
    padding: 50px;
}