<div>
    <h2 style="font-family: 'Libre Baskerville', serif;"><u>Project</u></h2>
    <dl> <dt>Hand Gesture Recognition</dt>
        <dd>Python module based on machine learning featuring play, pause and
            system volume control using hand gesture. Build using Python and
            Mediapipe framework. </dd>
        <dd><ul>      
            <li>Play/Pause</li>
            <li>Voulume Control</li>
            <li>Gesture capturing</li>
            
        </ul></dd>
        <dt>WeShop</dt>
        <dd>Deployed Android App "We Shop" featuring buying and selling products
            with authentication. Build using Java and Android studio, 
            also firebase is also used as a backend service for deployment of app.
        </dd>
        <dd><ul>
            <li>Posting Ads</li>
            <li>Buying and Selling</li>
            
        </ul></dd>
    </dl>

</div>