<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <div class="container2">
          <img src="../../assets/pic.jpeg"  alt="">
        </div>
        <div class="container1">
          <h1 class="heading">Dinbandhu Kumar</h1>
          <h4>Software Developer and Full Stack Web Developer</h4>
          <p>
            <br><br>
            Phone : 7004398876
            <br><br>
            Email : dinbandhukr9@gmail.com
            <br><br>
            Linked in : <a href="www.linkedin.com/in/dinbandhu-kumar-548b33229">www.linkedin.com/in/dinbandhu-kumar-548b33229</a>
            <br><br>
            GitHub : <a href="https://github.com/din-kumar">https://github.com/din-kumar</a>    
          </p>
        </div>
    
    
</body>
</html>
